[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
  position: absolute;
  top: .3rem;
  right: .3rem;
  display: block;
  padding: .1rem .4rem;
  color: var(--md-default-bg-color);
  font-weight: bold;
  font-size: .8rem;
  border: .05rem solid var(--md-default-bg-color--lighter);
  border-radius: .1rem;
  content: "/";
}
